body {
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    min-height:100%; 
    position:relative; 
    padding-bottom:200px;
}


* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/newspaper.png);
    background-size: cover;
    /* background-color: 	
    rgb(82,83,131); */
}

#header-logo {
    padding: 40px 0 40px 0;
}

/* .title {
    margin-top: 5vh;
    color: antiquewhite;
    font-weight: bold;
    font-size: 60px;
} */

.search-bar {
    margin-bottom: 5vh;
    width: 300px;
    height: 40px;
    /* border: 3px solid #5684BF; */
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: transparent;
    text-align: center;
}

.search-bar::placeholder {
    color: white;
    text-align: center;
}

.news-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-div {
    color: #5684BF;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: 1px solid white;
    box-shadow: 0 0 5px #5684BF;
    border-radius: 5px;
    margin: 1%;
}
button {
    width: fit-content;
    background-color: #5684BF;
    color:white;
}

footer i {
    color: rgb(128, 196, 139)
}

footer {
    width: 100%;
    color: white;
    background-color: #5684BF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1.5em;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 200px;
}
footer p{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0 1em 0;
}

.icons{
    display: flex;
    justify-content: center; 

}

footer img{
    margin: 10%;
    width:50px;
}

footer img:hover{
    width:48px
}

.no-match-div {
    min-height: 300px;
}
